@{
    ViewData["Title"] = "About Product Management System";
}

<h1>About Product Management System </h1>

<h6>First Created: May 21st, 2021 </h6>
<h6>Last Created: May 27th, 2021 </h6>

<h6> This is University Homework. </h6>
<h6> Based on Microsoft Azure Web App Service and Azure SQL Database and ASP.Net Core, MSSQL, NET. Core SDK 3.1 </h6>
<h6> Created By Microsoft Visual Studio Community 2019. </h6>
<h6>KO YOUNG SEOK </h6>
<h6>NO COPYRIGHT Required. </h6>
<p><a href="#" onclick="history.go(-1)">Back</a></p>
<p><a asp-controller="Home" asp-action="Index">Back to Main Page</a></p>
<div class="vercheck">
    <p id="address"> </p>
    <p id="osver"></p>
    <p id="browserver"></p>
    <p id="time"></p>
</div>